
:root {
--primery-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primery-bg-color: #ffffff;
--main-text-color: #ffffff
}
body {
    background-color: var(--primery-bg-color);
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em
}
ul {
    list-style: none;
}

/* logo */
.logo {
    color: #000000;

    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

span.accent {
    color: #2196F3;
}

/* site nav */
.site-nav .link {
    color:  var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #000000;
}

.site-nav .link.current {
    color: var(--title-text-color);
}

/* auth-nav */
.auth-nav .link {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #000000;
    
}


/* hero */
.hero-title {
    color: var(--main-text-color);
    background-color: #2F303A;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}


/* section */
.section-title {
    color: var(--title-text-color);
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* features */
.features .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features .text {
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}


/* members */
.members {
    background-color: #F5F4FA;
}

/* team */
.team .team-title {
    color: var(--title-text-color);
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

}

.team .proff {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* button */
.button {
    color: var(--main-text-color);
    cursor: pointer;

}

.main.button:hover,
.main.button:focus {
    color: #000000; 
}

.main.button {
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    Line-height: 1.9;
    letter-spacing: 0.06em;
}




/* footer */

/* футер */
footer {
    background-color: #2F303A;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
}

.right-accent {
    color: #2196F3;
}

.left-accent {
    color: #FFFFFF;
}

.nav-map:hover,
.nav-map:focus {
    color: var(--accent-color);
}

.navigation .nav-map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

     color: #FFFFFF;
    
}

.navigation .nav-auth {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);
}
.nav-map:hover,
.nav-map:focus {
    color: var(--accent-color);
}

.nav-auth:hover,
.nav-auth:focus {
   color: #ffffff;
}

/* стилі для portfolio */

.primery.button {
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    letter-spacing: 0.03em;
}

.secondary.button {
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    letter-spacing: 0.03em;
    
    color: #212121;
}

.primery.button:hover,
.primery.button:focus {
    color: #000000;
}

.secondary.button:hover,
.secondary.button:focus {
    color: #ffffff;
}

.project .examples {
    color: #212121; 

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    
}

.project .type {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
   
    color: #757575;
}
